.footer__menu-link {
  font-size: 1em;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s;
}

.footer__menu-link:hover {
  opacity: 80%;
  transition: opacity 0.5s;
}

@media screen and (max-width: 750px) {
.footer__menu-link {
  font-size: 1.5em;
  line-height: 24px;
  }
}