.places {
  max-width: 984px;
  padding-top: 92px;
  margin: auto;
  display: grid;
  grid-row-gap: 80px;
}

@media screen and (max-width: 1100px) {
.places {
  max-width: 90.625%;
  }
}

@media screen and (max-width: 900px) {
.places {
  max-width: 93.75%;
  grid-row-gap: 72px;
  padding-top: 88px;
  }
}

@media screen and (max-width: 658px) {
.places {
  max-width: 100%;
  grid-row-gap: 50px;
  padding-top: 64px;
  }
}
    