.place__image {
    grid-column: 1;
    grid-row: 2/5;
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
.place__image  {
  max-width: 100%;
  }
}


@media screen and (max-width: 658px) {
.place__image  {
  grid-row: 3/5;
  }
}

@media screen and (max-width: 513px) {
.place__image  {
  max-width: calc(100% + 2*16px);
  margin-left: -16px;
  }
}
