.intro__list {
  list-style-type: none;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
.intro__list {
  width: 100%;
  }
}
  
@media screen and (max-width: 750px) {
.intro__list {
  width: 96%;
  }
}
