.footer__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 18px;
  display: grid;
  grid-template-columns: 200px repeat(5, min-content);
  justify-items: start;
}

@media screen and (max-width: 750px) {
  .footer__menu {
    grid-template-columns: min-content;
    grid-template-rows: repeat(5, min-content);
    gap: 32px;
    margin: 0;
    margin-left: 16px;
  }
}