.cover__subtitle {
  max-width: 360px;
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
  margin: auto;
  grid-column: 1;
  grid-row: 4/5;
  z-index: 3;
}

@media screen and (max-width: 370px) {
.cover__subtitle {
  font-size: 0.875em;
  max-width: 80%;
  }
}