.place__paragraph {
  font-size: 1.125em;
  line-height: 163%;
  color: #ffffff;
  font-style: normal;
  grid-column: 2;
  margin: 0 0 26px 0;
}

.place__paragraph:nth-child(odd) {
  margin: 0 0 0 0;
}


@media screen and (max-width: 1092px) {
.place__paragraph  {
  font-size: 1.65vw;
  }
}
  
@media screen and (max-width: 970px) {
.place__paragraph  {
  font-size: 1em;
  }
}

@media screen and (max-width: 658px) {
.place__paragraph  {
  margin: 25px 0 0 0;
  grid-column: 1;
  }
}

.place__paragraph:nth-child(odd) {
  margin: 25px 0 0 0;
  }
}