.place__link {
  font-size: 1.125em;
  color: #ffffff;
  font-style: normal;
  grid-column: 2;
  transition: opacity 0.5s;
}

.place__link:hover {
  opacity: 80%;
  transition: opacity 0.5s;
}

@media screen and (max-width: 658px) {
  .place__link {
  grid-column: 1;
  grid-row: 2;
  }
}