.intro__subtitle {
  font-size: 1em;
  line-height: 163%;
  color: #FFFFFF;
  text-decoration: none;
  max-width: 690px;
  margin: 40px 0 33px 0;
}

@media screen and (max-width: 768px) {
.intro__subtitle {
  width: 100%;
  }
}

@media screen and (max-width: 750px) {
.intro__subtitle {
  width: 96%;
  }
}