.cover__title {
  max-width: 560px;
  font-size: 4.5em;
  color: #ffffff;
  font-style: bold;
  text-align: center;
  margin: auto;
  grid-column: 1;
  grid-row: 3/4;
  z-index: 3;
  padding-bottom: 32px;
}

@media screen and (max-width: 1280px) {
  .cover__title {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 700px) {
  .cover__title {
    font-size: 2em;
    max-width: 240px;
    padding-bottom: 16px;
  }
}