.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
.footer {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
.footer {
  padding-top: 90px;
  max-width: 720px;
  }
}

@media screen and (max-width: 750px) {
.footer {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 64px;
  padding-left: 16px;
  }
}
