.intro__title {
  font-size: 3.375em;
  color: #ffffff;
  font-weight: 900;
  max-width: 90%;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .intro__title {
    font-size: 7.2vw;
  }
}

@media screen and (max-width: 440px) {
.intro__title {
  font-size: 2em;
  }
}

